@model WebAppEcomm.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Product Item Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Item)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Item)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CartID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CartID)
            </dd>
        </dl>
</div>
<p>
       @Html.ActionLink("Back to List", "Index")
</p>
